@charset "UTF-8";
@media screen {
    :root {
        font-size: 16px;
    }

    * {
        box-sizing: border-box;
        font-size: 1em;
    }

    body {
        margin: 0;
        padding: 0;
    }

    #app {
        margin: 0;
        padding: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0 0 .5em 0;
    }

    button {
    }

    input:focus, textarea:focus {
        outline: 0;
    }

    textarea {
        resize: vertical;
    }

    th {
        text-align: left;
    }
}
